nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, rgb(28,181,224) 50%, rgb(0, 0, 129) 100%);
    padding: 10px;
}
.navitem{
    margin: 10px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 15px;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-size: large;
}
.navitem:hover{
    background-color: aquamarine;
    color: darkgray;
}
a:visited, a{
    text-decoration: none;
}
body{
    margin: 0;
}